body {
    text-align: center;
    -webkit-user-select:none;
    background: Window;
    font: caption;
}

* {
    box-sizing: border-box;
}

#container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

#container > div {
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.selected-item-form {
    flex: 1;
}

.issue-list {
    flex: 0 0 40%;
    box-sizing: border-box;
    float: left;
    border-right: WindowFrame 1px solid;
    height: 100%;
    font-size: 16px;
    background: Menu;
}

.issue-list__item {
    width: 100%;
    cursor: pointer;
    padding: 4px;
}

.issue-list__item--selected {
    background: Highlight;
    color: HighlightText;
}

.issue-list__item--running::after {
    content: "▶";
    display: inline-block;
    margin-left: 4px;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.issue-list__add-button {
    cursor: pointer;
    font-weight: bold;
    padding: 4px;
}

/*.issue-list__add-button:hover {*/
    /*background: black;*/
    /*color: white;*/
/*}*/

.issue-list__add-button input {
    width: 100%;
    text-align: center;
    font-size: inherit;
    padding: 4px;
    margin: -4px;
}

.stopwatch {
    display: inline-block;
    width: 60%;
    padding-top: 25px;
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
    cursor: default;
}

.stopwatch__control {
    display: block;
    text-align: center;
}

.stopwatch button {
    display: inline-block;
    text-transform: uppercase;
    width: 160px;
    height: 60px;
    font-size: 32px;

    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
}

@media (-webkit-min-device-pixel-ratio:0) {
    .stopwatch button {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
    }
}

/* WebKit gets its native focus styles.
 */
@media (-webkit-min-device-pixel-ratio:0) {
    .unreal-focus {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
    }
}

/*.comment-section {*/
    /*text-align: left;*/
/*}*/

/*textarea {*/
    /*width: 100%;*/
    /*height: 220px;*/
    /*font-size: 24px;*/
/*}*/

.manager-window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: Window;
    opacity: 0;
    transition: opacity ease 0.5s, visibility ease 0.5s;
}

.manager-window:not(.hidden) {
    opacity: 1;
}

.manager-window__titlebar {
    height: 52px;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    background-color: WindowFrame;
    color: WindowText;
}

.manager-window__close-button {
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    padding: 6px;
    background-color: ButtonFace;
    color: ButtonText;
}

.manager-window__close-button:hover {
    background-color: Highlight;
    color: HighlightText;
}

.manager-window__destinations-list {
    background-color: Menu;
    width: 200px;
    height: 100%;
    float: left;
    border-right: WindowFrame 1px solid;
}

.manager-window__destinations-list > div > span {
    display: block;
    font-style: italic;
    font-size: 10px;
}

.manager-window__destinations-list > div {
    padding: 5px;
    cursor: pointer;
}

.manager-window__destinations-list > div.selected {
    background-color: Highlight;
    color: HighlightText;
}

.manager-window__current-destination-form {
    padding: 10px;
}

.hidden {
    visibility: hidden;
}

.timesheet {
    margin: 10px;
}

.tabs {
    text-align: left;
    margin-bottom: 10px;
}

.tab {
    display: inline-block;
    background: ButtonFace;
    color: ButtonText;
    padding: 10px;
    cursor: pointer;
}

.tab.active {
    background: Highlight;
    color: HighlightText;
}

.timesheet__tab-content {
    height: 100%;
    overflow-y: auto;
}

table tr.selected td {
    background-color: Highlight;
    color: HighlightText;
}

table tr th {
    background-color: CaptionText;
    color: Menu;
}

table tr td {
    background-color: Menu;
    color: CaptionText;
}

fieldset[disabled] {
    pointer-events: none;
    opacity: 0.7;
}

.prompt-input {
    display: inline-block;
}

.prompt-input > div {
    display: block;
    position: relative;
}

/*.prompt-input input:focus + div {*/
    /*display: block;*/
/*}*/

.prompt-input .prompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    text-align: left;
    background: Menu;
    border: solid 1px;
}

.prompt__item {
    width: 100%;
    cursor: pointer;
}

.jira-issue {
    display: inline-flex;
    align-items: center;
    padding: 2px 5px;
}

.jira-issue img {
    margin-right: 4px;
}

.prompt__item:hover {
    background-color: Highlight;
    color: HighlightText;
}
